# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Virtual env
.venv/

# Environment
.env

you_predict.ipynb

# Type checking / linting
.mypy_cache/
.ruff_cache/

# Testing
.pytest_cache/
htmlcov/
.coverage

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
